Samples/Portal_ws_client/PortalClient/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PortalLogon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PortalLogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PortalLogonResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PortalLogout">
        <s:complexType />
      </s:element>
      <s:element name="PortalLogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PortalLogoutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCompanyName">
        <s:complexType />
      </s:element>
      <s:element name="getCompanyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCompanyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCompanyWebSite">
        <s:complexType />
      </s:element>
      <s:element name="getCompanyWebSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCompanyWebSiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCases">
        <s:complexType />
      </s:element>
      <s:element name="getCasesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCasesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PortalLogonSoapIn">
    <wsdl:part name="parameters" element="tns:PortalLogon" />
  </wsdl:message>
  <wsdl:message name="PortalLogonSoapOut">
    <wsdl:part name="parameters" element="tns:PortalLogonResponse" />
  </wsdl:message>
  <wsdl:message name="PortalLogoutSoapIn">
    <wsdl:part name="parameters" element="tns:PortalLogout" />
  </wsdl:message>
  <wsdl:message name="PortalLogoutSoapOut">
    <wsdl:part name="parameters" element="tns:PortalLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="getCompanyNameSoapIn">
    <wsdl:part name="parameters" element="tns:getCompanyName" />
  </wsdl:message>
  <wsdl:message name="getCompanyNameSoapOut">
    <wsdl:part name="parameters" element="tns:getCompanyNameResponse" />
  </wsdl:message>
  <wsdl:message name="getCompanyWebSiteSoapIn">
    <wsdl:part name="parameters" element="tns:getCompanyWebSite" />
  </wsdl:message>
  <wsdl:message name="getCompanyWebSiteSoapOut">
    <wsdl:part name="parameters" element="tns:getCompanyWebSiteResponse" />
  </wsdl:message>
  <wsdl:message name="getCasesSoapIn">
    <wsdl:part name="parameters" element="tns:getCases" />
  </wsdl:message>
  <wsdl:message name="getCasesSoapOut">
    <wsdl:part name="parameters" element="tns:getCasesResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="PortalLogon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Portal demo (PortalLogon method) from www.crmtogether.com</wsdl:documentation>
      <wsdl:input message="tns:PortalLogonSoapIn" />
      <wsdl:output message="tns:PortalLogonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PortalLogout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Portal demo (PortalLogout method) from www.crmtogether.com</wsdl:documentation>
      <wsdl:input message="tns:PortalLogoutSoapIn" />
      <wsdl:output message="tns:PortalLogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Portal demo (getCompanyName method) from www.crmtogether.com</wsdl:documentation>
      <wsdl:input message="tns:getCompanyNameSoapIn" />
      <wsdl:output message="tns:getCompanyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyWebSite">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Portal demo (getCompanyWebSiet method) from www.crmtogether.com</wsdl:documentation>
      <wsdl:input message="tns:getCompanyWebSiteSoapIn" />
      <wsdl:output message="tns:getCompanyWebSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCases">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Portal demo (getCases method) from www.crmtogether.com</wsdl:documentation>
      <wsdl:input message="tns:getCasesSoapIn" />
      <wsdl:output message="tns:getCasesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PortalLogon">
      <soap:operation soapAction="http://tempuri.org/PortalLogon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PortalLogout">
      <soap:operation soapAction="http://tempuri.org/PortalLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyName">
      <soap:operation soapAction="http://tempuri.org/getCompanyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyWebSite">
      <soap:operation soapAction="http://tempuri.org/getCompanyWebSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCases">
      <soap:operation soapAction="http://tempuri.org/getCases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PortalLogon">
      <soap12:operation soapAction="http://tempuri.org/PortalLogon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PortalLogout">
      <soap12:operation soapAction="http://tempuri.org/PortalLogout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyName">
      <soap12:operation soapAction="http://tempuri.org/getCompanyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyWebSite">
      <soap12:operation soapAction="http://tempuri.org/getCompanyWebSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCases">
      <soap12:operation soapAction="http://tempuri.org/getCases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost/PortalWebservice/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost/PortalWebservice/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>